@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple .NET Core App that runs slow maths calcs to demonstrate autoscaling</p>
    <p>The time on the server is @DateTime.Now</p>
</div>
